{% extends "base.html" %}

{% block title %}
О бренде — quite good.
{% endblock %}


{% block content %}

<section class="page-title about-title">

    <div class="container">

        <p class="small-text">
            QUITE GOOD.
        </p>

        <h1>О бренде</h1>

    </div>

</section>


<section class="about container">

    <div class="about-column">

        <h2>
            Просто хорошие<br>
            украшения.
        </h2>

    </div>


    <div class="about-column">

    <p>
        quite good. — небольшой бренд серебряных
        украшений с простым подходом к дизайну.
    </p>

    <p>
        Мы используем серебро 925 пробы и делаем
        украшения без лишних деталей.
    </p>

    <p>
        Мы не продаём украшения онлайн. Наш сайт —
        это пространство, где можно познакомиться
        с коллекцией и выбрать то, что вам нравится.
    </p>

    <p>
        Покупка происходит только оффлайн.
        Так мы можем показать изделие вживую,
        помочь с выбором и дать возможность
        увидеть его настоящую форму и фактуру.
    </p>

</div>

</section>


<section class="simple-block">

    <div class="container">

        <h2>
    SEE IT.<br>
    FEEL IT.<br>
    CHOOSE IT.
</h2>

    </div>

</section>

{% endblock %}