{% extends "base.html" %}

{% block title %}
О бренде — quite good.
{% endblock %}


{% block content %}

<section class="page-title container">

    <p class="small-text">
        QUITE GOOD.
    </p>

    <h1>О бренде</h1>

</section>


<section class="about container">

    <div class="about-column">

        <h2>
            Просто хорошие<br>
            украшения.
        </h2>

    </div>


    <div class="about-column">

        <p>
            quite good. — небольшой бренд серебряных
            украшений с простым подходом к дизайну.
        </p>

        <p>
            Мы используем серебро 925 пробы и делаем
            украшения без лишних деталей.
        </p>

        <p>
            Наша идея — создавать вещи, которые легко
            вписываются в повседневный стиль и остаются
            актуальными надолго.
        </p>

    </div>

</section>


<section class="simple-block">

    <div class="container">

        <h2>
            925 / Ag
        </h2>

    </div>

</section>

{% endblock %}