<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}quite good. — Серебряные украшения{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<header class="header">

    <div class="container header-inner">

        <a href="{{ url_for('index') }}" class="logo">
            quite good.
        </a>

        <nav class="nav">
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('catalog') }}">Каталог</a>
            <a href="{{ url_for('about') }}">О бренде</a>
        </nav>

        

    </div>

</header>


<main>
    {% block content %}{% endblock %}
</main>


<footer class="footer">

    <div class="container footer-inner">

        <div>
            <div class="logo">quite good.</div>

            <p>
                Серебряные украшения<br>
                на каждый день.
            </p>
        </div>

        <div class="footer-links">
            <a href="#">VK</a>
            <a href="#">Telegram</a>
        </div>

    </div>

    <div class="container copyright">
        © 2026 quite good.
    </div>

</footer>

</body>
</html>