{% extends "base.html" %}

{% block title %}
История — Quite Good
{% endblock %}


{% block content %}

<section class="page-hero">

    <p class="eyebrow">JOURNAL / HISTORY</p>

    <h1>
        Как создавался<br>
        <em>Quite Good.</em>
    </h1>

</section>


<section class="timeline">

    <div class="timeline-item">

        <span>2026 — 01</span>

        <div>
            <h2>Начало</h2>
            <p>
                Создан первый прототип интернет-магазина
                Quite Good.
            </p>
        </div>

    </div>


    <div class="timeline-item">

        <span>2026 — 02</span>

        <div>
            <h2>Первая коллекция</h2>
            <p>
                Разработана первая коллекция
                украшений из серебра.
            </p>
        </div>

    </div>


    <div class="timeline-item">

        <span>2026 — 03</span>

        <div>
            <h2>Quite Good online</h2>
            <p>
                Запущен первый сайт бренда.
            </p>
        </div>

    </div>

</section>

{% endblock %}